html {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

#mainContent {
  display: flex;
  flex-flow: wrap;
}

body {
  background-image: url(https://pbs.twimg.com/media/DVMT-6OXcAE2rZY.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  height: 100%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header {
  display: flex;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid rgb(202, 200, 200);
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 9px 1px rgb(202, 200, 200);
}

.card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  width: 15rem;
  border: 2px solid rgb(202, 200, 200);
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 9px 1px rgb(202, 200, 200);
  margin: 1rem;
  padding: 1rem;
}

.card > h1 {
  text-transform: capitalize;
}

.card > img {
  height: 10rem;
  width: 10rem;
  background-color: rgb(233, 233, 233);
  border-radius: 1000000000px;
  margin: 1rem 0;
}

.card > span {
  text-transform: capitalize;
  font-size: 1.1rem;
}

.poke-entry-card {
  background-color: white;
  border: 5px solid #6c6c6c;
  margin: 1rem;
  padding: 1.5rem;
  display: flex;
  max-width: 45rem;
}

.poke-entry-card > img {
  height: 12rem;
  width: 12rem;
  background-color: #c4c4c4;
  border-radius: 50%;
  margin-right: 2rem;
  align-self: center;
}

.poke-entry-card-content {
  display: flex;
  flex-direction: column;
}

.poke-entry-card-content > header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.poke-entry-card h2 {
  font-size: 2.8rem;
}

.poke-entry-card h3 {
  font-size: 2rem;
  color: #6c6c6c;
}

.horizontal-line {
  border: 3px solid #629767;
}

.poke-entry-card-content span,
p {
  font-size: 1.4rem;
  padding: 0.5rem 0;
  margin: 0;
}

.poke-entry-card-content span:first-of-type {
  margin-top: 1rem;
}
