h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

#mainContent {
  display: flex;
  flex-flow: wrap;
}

body {
  background-image: url(https://source.unsplash.com/7JX0-bfiuxQ/300x300);
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid rgb(202, 200, 200);
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 9px 1px rgb(202, 200, 200);
}

.card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  width: 15rem;
  border: 2px solid rgb(202, 200, 200);
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 9px 1px rgb(202, 200, 200);
  margin: 1rem;
  padding: 1rem;
}

.card > h1 {
  text-transform: capitalize;
}

.card > img {
  height: 10rem;
  width: 10rem;
  background-color: rgb(233, 233, 233);
  border-radius: 1000000000px;
  margin: 1rem 0;
}

.card > span {
  text-transform: capitalize;
  font-size: 1.1rem;
}
